:root {
    --red-color: #FF0000;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --blue-color: #0000ff;
    --light-blue-accent: #ADD8E6;
    --dark-blue-accent: #000080;
    --gray-color: #717171;
    --dark-gray-accent: #708090;
    --green-color: #008000;
    --dark-green-accent: #0F4D0F;
}