:root {
    --black-color: #000000;
    --red-color: #FF0000;
    --white-color: #FFFFFF;
    --blue-color: #0000ff;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    border: 2px solid var(--black-color);
}

input.errorMessage,
textarea.errorMessage {
    border-color: var(--red-color);
}

.error-message {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--red-color);
    text-align: left;
}

textarea {
    height: 70px;
    resize: none;
}

.total-time .total-time-settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.total-time .total-time-settings .total-time-group input {
    padding: 10px;
    width: 20%;
    font-size: 14px;
    border: 2px solid var(--black-color);
}

.total-time .total-time-settings .total-time-group span {
    display: block;
}

.tag-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag-list > input {
    width: 20%;
}

.tag-list .tag-wrapper .tag {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid var(--black-color);
    border-radius: 20px;
    width: max-content;
}

.tag-list .tag-wrapper .tag .add-new-tag-icon {
    transition: transform 0.3s ease-in-out;
}

.tag-list .tag-wrapper .tag .add-new-tag-icon.rotated {
    transform: rotate(45deg);
}

.tag-list .tag-wrapper .tag .remove-tag-icon {
    width: 12px;
    height: 12px;
    background: var(--black-color);
}

.tag-list .tag-wrapper .tag.used {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.sendTask {
    margin-left: auto;
}
