.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    padding-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.modal-body > form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-body > div {
    width: 100%;
}

.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}


.modal-body textarea {
    resize: none;
    height: 80px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 10px;
}